admin/protected/config/main-local.php
admin/protected/config/console-local.php

front/protected/config/main-local.php
front/protected/config/test-local.php
front/index.php

admin/protected/runtime/
front/protected/runtime/

admin/assets/

front/images/storage/*

front/cache/

vendor/

vagrant/.vagrant/

composer.lock

.DS_Store