<script type="text/x-handlebars-template" id="t-about">
    <div id="home" class="container">
        <div class="shadow rounded">
            <div id="about" class="page">
                <div id="sidebar" class="column">
                    <ul>
                        <li><a href="/about" class="active">About</a></li>
                        <li><a href="/team">Our Team</a></li>
                        <li><a href="/contact">Contacts</a></li>
                    </ul>
                </div>

                <div class="column">
                    <h1>About</h1>

                    <div>
                        <p>
                            Boogi - an ultracool tool for artists and promoters optimizing the whole process of booking and
                            touring.
                        </p>

                        <p>
                            BOOGI offers a unique geolocation technology for music industry that enables touring managers
                            to build the most optimized route to reduce transportation costs and allow more performance
                            dates in a shorter period of time.
                        </p>

                        <p>
                            In addition, promoters can use BOOGI to find collaborators and/or sponsors who are interested in
                            sharing the cost of bringing an artist to perform locally.
                        </p>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>

    {{> footer }}
</script>