<script type="text/x-handlebars-template" id="t-features-partial">
    <div class="features-partial">

        <div class="logo"><img src="/images/favicon/114.png" /></div>
        <div class="text">It's coming soon!</div>
        <div class="description">
            Can't wait for the future release?<br />
            You will be informed first, if follow us.
        </div>
        <ul class="social-links">
            <li>
                <a href="https://twitter.com/Boogi_booking" rel="publisher" class="external"><img src="/images/icon/s-twitter-48.png" alt="Twitter" /></a>
            </li>
            <li>
                <a href="https://facebook.com/boogi.co" rel="publisher" class="external"><img src="/images/icon/s-facebook-48.png" alt="Facebook" /></a>
            </li>
            <li>
                <a href="https://plus.google.com/+BoogiCo" rel="publisher" class="external"><img src="/images/icon/s-gplus-48.png" alt="Google+" /></a>
            </li>
        </ul>
    </div>
</script>