<script type="text/x-handlebars-template" id="t-pricing">
    <div id="home" class="container">
        <div id="upgrade" class="shadow rounded">
            <div id="pricing">
                <a name="top"></a>
                <h1>
                    Set yourself free from bookings routine.<br />
                    Try with 14-day free full version.
                </h1>
                {{> pricing }}
            </div>
            <div id="features">
                <div id="bookings">
                    <div class="wrapper">
                        <div class="column c1">
                            <h2>Bookings:</h2>
                            <img src="/images/pricing-01.png" />
                        </div>
                        <div class="column">
                            <div class="row">
                                <div class="column c2">
                                    <h3>Instant Bookings</h3>
                                    Sending a booking request for an artist is just a couple clicks away. No more seaching
                                    for an artist or his agent's contact details. Long requests forms are changed by the
                                    easiest booking form.
                                </div>
                                <div class="column c3">
                                    <h3>Lineup Height</h3>
                                    The bigger your event, the longer your list of performers. We optimized the packages
                                    regarding promoter size and his needs.
                                </div>
                                <div class="column c4">
                                    <h3>Favourite Artist Roaster</h3>
                                    Keep potential guests for your events at hand! Create a list of artists you are likely
                                    to book and track their tours and gigs.
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="row">
                                <div class="column c2">
                                    <h3>Artists Search Filters</h3>
                                    Searching for the right performer for your concert or festival is no longer a pain.
                                    Use the whole set of filters (name, location, genre, price, availability) to minimize
                                    your efforts and manage arists booking in moments.
                                </div>
                                <div class="column c3">
                                    <h3>Artists Gigs Schedule</h3>
                                    Get access to all confirmed artist gigs. Choose a free date and make an instant booking
                                    request. No more need to investigate artist schedule on site or facebook or elsewhere.
                                </div>
                                <div class="column c4">
                                    <h3>Roaster Filters</h3>
                                    A bunch of search filters (name, location, genre, price, availability) will help you
                                    to surf through a big list of potential performers for your gigs.
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="management">
                    <div class="wrapper">
                        <div class="column c1">
                            <h2>Management, Papers, Staging:</h2>
                            <img src="/images/pricing-02.png" />
                        </div>
                        <div class="column">
                            <div class="row">
                                <div class="column c2">
                                    <h3>Artist Schedule Setup</h3>
                                    Prearrange every single step of an artist on arrival. Put on schedule meetings at
                                    airport, hotel checkins, even press-conferences and soundhecks.
                                </div>
                                <div class="column c3">
                                    <h3>Invoices</h3>
                                    Papers are out of age anylonger. Invoices are generated automatically on a booking
                                    confirmation. Saved and kept in one place ready to be processed.
                                </div>
                                <div class="column c4">
                                    <h3>Invoice Payments</h3>
                                    Manage invoice payments for artist and booking fees as one, two, three. So artist's
                                    side will never disturb you.
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="row">
                                <div class="column c2">
                                    <h3>Transportation Management</h3>
                                    Book any transportation straight away from a single place. All bookings and tickets
                                    are located in one place and available for artist and his assistants to use without
                                    paper hustle.
                                </div>
                                <div class="column c3">
                                    <h3>Accomodation Management</h3>
                                    Book accomodation for performers straight away from a single place. Keep all
                                    reservation and booking reference information in a cloud accessible for every person
                                    engaged into a certain booking.
                                </div>
                                <div class="column c4">
                                    <h3>Backline Setup</h3>
                                    All gear you need for a show provided by artist in a visually friendly way. You just
                                    need to check the list and prepare them on stage by giving access to tech stuff. Most
                                    useful in managing festivals with differenet tech riders.
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="touring">
                    <div class="wrapper">
                        <div class="column c1">
                            <h2>Touring:</h2>
                            <img src="/images/pricing-03.png" />
                        </div>
                        <div class="column">
                            <div class="row">
                                <div class="column c2">
                                    <h3>Gig World Map</h3>
                                    Choose the closest location where to book an artist from and save bunch of money on
                                    logistics with visually presented artists gigs on map.
                                </div>
                                <div class="column c3">
                                    <h3>Artist Location Detection</h3>
                                    Now you can search for potential performers by their hometown or current location and
                                    deside where to book him from.
                                </div>
                                <div class="column c4">
                                    <h3>Gig Radar</h3>
                                    Innovative feature that lets your detect artists tours close to your area. One more
                                    helper to cut your costs on artist booking and logistics.
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="row">
                                <div class="column c2">
                                    <h3>Roaster Artist Notification</h3>
                                    Keep always updated on potential guests's tour near to your area. No need to spend
                                    hours on checking tour maps of hunders of artists. No more spam from agencies!
                                </div>
                                <div class="column c3">
                                    <h3>Tourshare</h3>
                                    Save money on inviting promoters from close area to collaborate or split costs of a
                                    tour booking.
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}
</script>

<script type="text/x-handlebars-template" id="t-pricing-partial">
    <div class="wrapper">
        <div class="row head">
            <div class="column c1">&nbsp;</div>
            <div class="column c2">Gigmaker</div>
            <div class="column c3">PromoOne</div>
            <div class="column c4 active">
                <img src="/images/optimal.png" class="optimal" />
                <div class="double">Show<br />Master</div>
            </div>
            <div class="column c5">Eventarium</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="column c1">Instant Bookings</div>
            <div class="column c2">10 RPM</div>
            <div class="column c3">10 RPM</div>
            <div class="column c4 active">30 RPM</div>
            <div class="column c5">
                <span class="infin">&infin;</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Lineup Height</div>
            <div class="column c2">
                3<div class="small">artists</div>
            </div>
            <div class="column c3">
                3<div class="small">artists</div>
            </div>
            <div class="column c4 active">
                10<div class="small">artists</div>
            </div>
            <div class="column c5">
                <span class="infin">&infin;</span>
                <div class="small">artists</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="column c1">Favourite Artist Roaster</div>
            <div class="column c2">+10</div>
            <div class="column c3">+50</div>
            <div class="column c4 active">+200</div>
            <div class="column c5">Max</div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Artist Search Filters</div>
            <div class="column c2">
                Low<div class="small">(by name)</div>
            </div>
            <div class="column c3 marked">
                Mid<div class="small">(by genres/location)</div>
            </div>
            <div class="column c4 active marked">
                Mid<div class="small">(by genres/location)</div>
            </div>
            <div class="column c5 marked">
                Hi<div class="small">(by price/date range)</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Roaster Filters</div>
            <div class="column c2 marked">
                <img src="/images/icon/i-no.png" class="no" />
            </div>
            <div class="column c3 marked">
                <img src="/images/icon/i-no.png" class="no" />
            </div>
            <div class="column c4 active marked">Min</div>
            <div class="column c5 marked">Max</div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Artists Gigs Schedule</div>
            <div class="column c2">
                <img src="/images/icon/i-yes.png" class="yes" />
            </div>
            <div class="column c3">
                <img src="/images/icon/i-yes.png" class="yes" />
            </div>
            <div class="column c4 active">
                <img src="/images/icon/i-yes.png" class="yes" />
            </div>
            <div class="column c5">
                <img src="/images/icon/i-yes.png" class="yes" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Artist Schedule Setup</div>
            <div class="column c2">
                <img src="/images/icon/i-no.png" class="no" />
            </div>
            <div class="column c3">
                <img src="/images/icon/i-yes.png" class="yes" />
            </div>
            <div class="column c4 active">
                <img src="/images/icon/i-yes.png" class="yes" />
            </div>
            <div class="column c5">
                <img src="/images/icon/i-yes.png" class="yes" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Invoice</div>
            <div class="column c2">
                <img src="/images/icon/i-no.png" class="no" />
            </div>
            <div class="column c3 marked">Auto</div>
            <div class="column c4 active marked">Auto</div>
            <div class="column c5 marked">Auto</div>
            <div class="clear"></div>
        </div>
        <div class="row details">
            <div class="column c1">Invoice Payments</div>
            <div class="column c2">
                <img src="/images/icon/i-no.png" class="no" />
            </div>
            <div class="column c3">Manual</div>
            <div class="column c4 active marked">Auto Direct</div>
            <div class="column c5 marked">Auto Direct</div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="column c1">Transportation Management</div>
            <div class="column c2"><img src="/images/icon/i-no.png" class="no" /></div>
            <div class="column c3">Manual</div>
            <div class="column c4 active marked">
                Auto Direct<span class="bg-tooltip" title="tooltip-01"></span>
                <span id="tooltip-01" class="hidden">
                    <h3>Header</h3>
                    <div class="bg-tooltip-content">
                        Very Long Content Text,
                        Very Long Content Text.
                        Very Long Content Text.
                    </div>
                </span>
            </div>
            <div class="column c5 marked">
                Auto Direct<span class="bg-tooltip" title="tooltip-02"></span>
                <span id="tooltip-02" class="hidden">
                    <h3>Header</h3>
                    <div class="bg-tooltip-content">
                        Very Long Content Text,
                        Very Long Content Text.
                        Very Long Content Text.
                    </div>
                </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="column c1">Accommodation Management</div>
            <div class="column c2"><img src="/images/icon/i-no.png" class="no" /></div>
            <div class="column c3">Manual</div>
            <div class="column c4 active marked">
                Auto Direct<span class="bg-tooltip" title="tooltip-03"></span>
                <span id="tooltip-03" class="hidden">
                    <h3>Header</h3>
                    <div class="bg-tooltip-content">
                        Very Long Content Text,
                        Very Long Content Text.
                        Very Long Content Text.
                    </div>
                </span>
            </div>
            <div class="column c5 marked">
                Auto Direct<span class="bg-tooltip" title="tooltip-04"></span>
                <span id="tooltip-04" class="hidden">
                    <h3>Header</h3>
                    <div class="bg-tooltip-content">
                        Very Long Content Text,
                        Very Long Content Text.
                        Very Long Content Text.
                    </div>
                </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Backline Setup</div>
            <div class="column c2">List</div>
            <div class="column c3 marked">Drag & Drop</div>
            <div class="column c4 active marked">Drag & Drop</div>
            <div class="column c5 marked">Drag & Drop</div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Gig World Map</div>
            <div class="column c2"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c3"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c4 active"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c5"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Artist Location Detection</div>
            <div class="column c2"><img src="/images/icon/i-no.png" class="no" /></div>
            <div class="column c3"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c4 active"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c5"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="column c1">Gig Radar</div>
            <div class="column c2"><img src="/images/icon/i-no.png" class="no" /></div>
            <div class="column c3"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c4 active"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c5"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Roaster Artist Notification</div>
            <div class="column c2"><img src="/images/icon/i-no.png" class="no" /></div>
            <div class="column c3"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c4 active"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c5"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="clear"></div>
        </div>
        <div class="row details hidden">
            <div class="column c1">Tourshare</div>
            <div class="column c2 marked"><img src="/images/icon/i-no.png" class="no" /></div>
            <div class="column c3 marked"><img src="/images/icon/i-no.png" class="no" /></div>
            <div class="column c4 marked active"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="column c5 marked"><img src="/images/icon/i-yes.png" class="yes" /></div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="column c1">&nbsp;</div>
            <div class="column c2">
                <a href="#top" class="more">
                    More
                    <img src="/images/icon/i-down.png" class="icon">
                </a>
                <a href="#top" class="less hidden">
                    Less
                    <img src="/images/icon/i-up.png" class="icon">
                </a>
            </div>
            <div class="column c3">
                <a href="#top" class="more">
                    More
                    <img src="/images/icon/i-down.png" class="icon">
                </a>
                <a href="#top" class="less hidden">
                    Less
                    <img src="/images/icon/i-up.png" class="icon">
                </a>
            </div>
            <div class="column c4 active">
                <a href="#top" class="more">
                    More
                    <img src="/images/icon/i-down.png" class="icon">
                </a>
                <a href="#top" class="less hidden">
                    Less
                    <img src="/images/icon/i-up.png" class="icon">
                </a>
            </div>
            <div class="column c5">
                <a href="#top" class="more">
                    More
                    <img src="/images/icon/i-down.png" class="icon">
                </a>
                <a href="#top" class="less hidden">
                    Less
                    <img src="/images/icon/i-up.png" class="icon">
                </a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row pricing">
            <div class="column c1">Price</div>
            <div class="column c2">Free</div>
            <div class="column c3">
                <div class="monthly">
                    49$<span class="smaller">/mo</span>
                </div>
                <div class="annually hidden">
                    199$
                </div>
                <div class="small">per 2 users</div>
            </div>
            <div class="column c4 active">
                <div class="monthly">
                    99$<span class="smaller">/mo</span>
                </div>
                <div class="annually hidden">
                    499$
                </div>
                <div class="small">per 2 users</div>
            </div>
            <div class="column c5">
                <div class="monthly">
                    199$<span class="smaller">/mo</span>
                </div>
                <div class="annually hidden">
                    999$
                </div>
                <div class="small">per 2 users</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row footer marked">
            <div class="column c1 marked">&nbsp;</div>
            <div class="column c2 marked"><input type="button" class="button" value="Sign Up Now" /></div>
            <div class="column c3 marked"><input type="button" class="button" value="Sign Up Now" /></div>
            <div class="column c4 active marked"><input type="button" class="button" value="Sign Up Now" /></div>
            <div class="column c5 marked"><input type="button" class="button" value="Sign Up Now" /></div>
            <div class="clear"></div>
        </div>
        <div id="switch-price">
            <input id="monthly" type="button" class="button active" value="Monthly" />
            <input id="annually" type="button" class="button" value="Annually" />
        </div>
    </div>
</script>