<script type="text/x-handlebars-template" id="t-team">
    <div id="home" class="container">
        <div class="shadow rounded">
            <div id="team" class="page">
                <div id="sidebar" class="column">
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/team" class="active">Our Team</a></li>
                        <li><a href="/contact">Contacts</a></li>
                    </ul>
                </div>

                <div class="column">
                    <h1>Our Team</h1>

                    <div class="row">
                        <div class="column image">
                            <img src="/images/default.png" />
                        </div>
                        <div class="column">
                            <h2>Roman Gorbunov</h2>
                            <div class="spec">Co-Founder, CEO</div>
                            <div class="desc">
                                7 years in music events business, sales and B2B marketing
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="row">
                        <div class="column image">
                            <img src="/images/default.png" />
                        </div>
                        <div class="column">
                            <h2>Alex Chaika</h2>
                            <div class="spec">Co-Founder, CTO</div>
                            <div class="desc">
                                9 years experience in web-development with complicated architecture
                                and high load
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="row">
                        <div class="column image">
                            <img src="/images/default.png" />
                        </div>
                        <div class="column">
                            <h2>Nick Kazantsev</h2>
                            <div class="spec">Co-Founder, Designer</div>
                            <div class="desc">10 years in visual design, brand design and UX</div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="row">
                        <div class="column image">
                            <img src="/images/default.png" />
                        </div>
                        <div class="column">
                            <h2>Alex Nikolayev</h2>
                            <div class="spec">Adviser</div>
                            <div class="desc">
                                15 years in music sales and live in music industry,
                                founder of InSimple, music business school.
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>

    {{> footer }}
</script>