<script type="text/x-handlebars-template" id="t-terms">
    <div id="home" class="container">
        <div class="shadow rounded">
            <div id="terms" class="page">
                <h1>Terms and Conditions ("Agreement") <a href="/" class="home">Home</a></h1>
                <div>
                    <p>Here at the <a href="http://boogi.co/">Boogi</a> we believe in bringing the best services to the customer and we ask
                        you to read the following Terms of Service carefully.</p>

                    <p>In using this website You are deemed to have read and agreed to the following terms
                        and conditions, otherwise You should stop using our website and other Services
                        immediately:</p>

                    <p>The following terminology applies to these Terms and Conditions, Privacy policy and
                        any or all Agreements: "Client", “You” and “Your” refers to you, the person accessing
                        this website and accepting the Boogi  terms and conditions. "The Company",
                        “Ourselves”, “We” and "Us", refers to Boogi. “Party”, “Parties”, or “Us”, refers to both the
                        Client and ourselves, or either the Client or ourselves. Any use of the above terminology
                        or other words in the singular, plural, capitalization are taken as interchangeable and
                        therefore as referring to same.</p>

                    <p><strong>Confidentiality</strong></p>
                    <p>Client records are regarded as confidential and therefore will not be divulged to any
                        third party unless legally required to do so to the appropriate authorities. Clients have
                        the right to request sight of, and copies of any and all Client Records we keep, on the
                        proviso that we are given reasonable notice of such a request.</p>

                    <p><strong>Communications</strong></p>
                    <p>You consent to receive communications from <a href="http://boogi.co/">Boogi</a> electronically.
                        <a href="http://boogi.co/">Boogi</a> will communicate with you by e-mail transmission or by
                        posting to this website. You agree that all communications that <a href="http://boogi.co/">Boogi</a>
                        provides to you electronically satisfy any legal requirement that such communications be in writing.</p>

                    <p><strong>Account and use of the website</strong></p>
                    <p><a href="http://boogi.co/">Boogi</a> hereby grants you a limited, revocable, non-transferable and non-exclusive
                        license to use the services/products through a user identification reference. This license
                        does not permit you to: store, copy, reproduce, republish, modify, upload, post,
                        translate, scrape, rent, lease, loan, sell, distribute, transfer, transmit, display, decompile,
                        reverse engineer, reverse assemble, decipher or otherwise attempt to discover any
                        programming code or any source code used in or with the services/products
                        or otherwise distribute in any way the services/products. Any use of the
                        services/products for any purpose other than as specifically permitted herein or without
                        our prior written consent is expressly prohibited.<br />
                        We reserve all rights not expressly granted in this Agreement.</p>

                    <p><strong>Passwords and Security</strong></p>
                    <p>You must be a registered user to access the Service. The password will be provided to
                        You after a successful registration. Password is Your responsibility and You are
                        responsible for keeping Your password secure. You will be solely responsible and liable
                        for any activity that occurs under Your user name. If Your password is lost You must
                        immediately receive a new password from us otherwise we will deem that any activity
                        that occurs under Your user name is Your direct will.</p>

                    <p><strong>Fees</strong></p>
                    <p>All prices for the Products are stated on the Website, are in dollars (unless otherwise
                        specified on the Website) and are exclusive of VAT. By signing up for our services You
                        agree to pay Boogi the specified monthly fees except for the free membership.<br />
                        Applicable fees will be invoiced starting from the day Your access is established and in
                        advance of using such services. Boogi reserves the right to change the payment terms
                        and fees upon thirty (30) days prior written notice to You.</p>

                    <p><strong>Charge-back / Refund Policy</strong></p>
                    <p><a href="http://boogi.co/">Boogi</a> will transfer the specific amount of funds if and only if such amount was
                        transferred by an error. Such notification by Client must be made immediately. <a href="http://boogi.co/">Boogi</a>
                        will not refund any amount of funds if it was made intentionally.<br />
                        <a href="http://boogi.co/">Boogi</a> has a zero tolerance policy for charge-backs. We will always check if the payment
                        was done correctly and in such case that it was so, we will not charge-back the funds to
                        the Client's account.</p>

                    <p><strong>No Warranties or Representations</strong></p>
                    <p>The Service on this website is provided on an"as is" basis. To the fullest extent
                        permitted by law, <a href="http://boogi.co/">Boogi</a>:</p>
                    <p><ol>
                    <li>Excludes all representations and warranties relating to this website and its contents or
                        which is or may be provided by any affiliates or any other third party, including in
                        relation to any inaccuracies or omissions in this website and/or the <a href="http://boogi.co/">Boogi</a> literature
                        and/or other services/products;</li>

                    <li>Excludes all liability for damages arising out of or in connection with Your use of this
                        website. This includes, without limitation, direct loss, loss of business or profits,
                        damage caused to Your computer, computer software, systems and programs and
                        the data thereon or any other direct or indirect, consequential and incidental
                        damages.</li>
                </ol></p>

                    <p><strong>Limitation of Liability</strong></p>
                    <p>In no event shall <a href="http://boogi.co/">Boogi</a> be liable for any direct, indirect, incidental, special, or
                        consequential damages that result from or in connection with the use of, or the inability
                        to use, the website or any content, services or any product sample obtained through the
                        website, even if <a href="http://boogi.co/">Boogi</a> has been advised of the possibility of such damages.<br />
                        Indemnity You agree to indemnify and hold harmless <a href="http://boogi.co/">Boogi</a>, its affiliates, members,
                        officers, employees, agents, and licensors from and against any and all losses,
                        expenses, damages, claims, fines, penalties, costs and liabilities (including reasonable
                        legal and accounting fees), resulting from Your (or anyone acting under Your password
                        or user-name) use of this website, connection thereto, or any alleged violation by You of
                        these Terms of Use.</p>

                    <p><strong>Termination of Service</strong></p>
                    <p>Both the Client and ourselves have the right to terminate any Services Agreement for
                        any reason, including the ending of services that are already underway. No refunds
                        shall be offered, where a Service is deemed to have begun and is, for all intents and
                        purposes, underway. Any funds that have been paid to us which constitute payment in
                        respect of the provision of unused Services, shall not be refunded. Conditions Boogi
                        reserves the right to change these conditions from time to time as it sees fit and Your
                        continued use of the site will signify Your acceptance of any adjustment to these terms.<br />
                        If there are any changes to our Privacy policy, we will announce that these changes
                        have been made on our website. If there are any changes in how we use our site
                        customers Personally Identifiable Information, notification by e-mail will be made to
                        those affected by this change. Any changes to our Privacy Policy will be posted on our
                        website 30 days prior to these changes taking place. You are therefore advised to re-
                        read this statement on a regular basis.</p>

                    <p><strong>Intellectual Property</strong></p>
                    <p>By using this website You acknowledge that this Agreement does not transfer from
                        <a href="http://boogi.co/">Boogi</a> to You any third party intellectual property, and all right, title and interest in and to
                        such property will remain (as between the parties) solely with Boogi. All intellectual
                        property rights are protected by International intellectual property laws. By this
                        agreement You are bound not copy, reproduce, alter, modify, or create derivative works
                        from the Service.</p>

                    <p><strong>Use of Re-marketing in Online Advertising</strong></p>
                    <p>We use the re-marketing or similar audiences feature in our website and we would like
                        to inform You of the following:</p>
                    <p><ol>
                    <li>We are using re-marketing or similar audiences to advertise online as a tool to follow
                        up with website visitors who do not make a desired action on the website, usually to
                        understand our own service and to improve it for future customers.</li>
                    <li>Third party vendors, including Google, show <a href="http://boogi.co/">Boogi</a> ads on sites on the internet.</li>
                    <li>Third party vendors, including Google, use cookies to serve ads based on a user's
                        prior visits to this website.</li>

                    <li>Users may opt out of Google's use of cookies by visiting the Google advertising opt-
                        out page. Alternatively users may opt out of a third party vendor's use of cookies by
                        visiting the Network Advertising Initiative opt out page.</li>
                </ol></p>

                    <p><strong>Force majeure</strong></p>
                    <p>A party shall be entitled to invoke Force majeure if the execution or the performance of
                        the Agreement is, in whole or in part, temporarily or not, prevented or impeded by
                        circumstances reasonably beyond its control, including but not limited to: (i) site or
                        building blockades, strikes, riots, civil disruption, war, terrorist acts, inclemency,
                        epidemic, specific work interruptions, delay in transportation, earthquake, fire, storm,
                        flood, or water damage; (ii) delay in or cancellation of the delivery to Boogi of
                        products/services ordered from third parties; or (iii) governmental, legal or regulatory
                        restrictions. Your inability to fulfill Your payment obligations will not be regarded as force
                        majeure.<br />
                        As soon as it has become evident that the situation of Force majeure will last for more
                        than 3 (three) months, both You and Boogi may terminate the Agreement, without any
                        obligation to compensate each other.</p>

                    <p><strong>Privacy</strong></p>
                    <p>Boogi respects Your right to privacy of Your personal information. Please review our
                        Privacy Policy for details on the manner in which we collect, use, disclose and otherwise
                        manage Your personal information.</p>

                    <p><strong>Trademarks</strong></p>
                    <p>"Boogi" and "www.boogi.co" are trademarks of <a href="http://boogi.co/">Boogi</a>. Other marks, graphics,
                        typefaces, trademarks and logos appearing on the Website are trademarks or trade
                        dress of Boogi. All other trademarks appearing on the Website are property of their
                        respective owners. Our trademarks and trade dress may not be used in any manner for
                        any purpose without our express written consent.</p>

                    <p><strong>Dispute settlement procedures</strong></p>
                    <p>This Agreement and all of the rights and obligations arising from this Agreement are
                        applicable to the laws of the Republic of Belarus, International law. Agreement is made
                        and shall be construed in accordance with the International Law. Disputes between the
                        Parties shall be solved by negotiation. Failure to resolve the dispute by negotiation,
                        such dispute shall be settled in competent court in Minsk, Belarus, save as otherwise
                        prescribed by mandatory law.</p>

                    <p><strong>Other provisions</strong></p>
                    <p>If at any time <a href="http://boogi.co/">Boogi</a> does not enforce compliance with one or more provisions of this
                        Terms of use, this does not constitute a waiver of the right to do so at a later time.<br />
                        If any provision of this Terms of use is null and void or is annulled, this will not affect the
                        validity of the other provisions. This Terms of use is not in any way intended to depart
                        from mandatory domestic International consumer law.<br />
                        If there are any questions regarding Terms Of Use and/or Privacy Policy please do
                        contact us at <a href="mailto:info@boogi.co">info@boogi.co</a></p>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}
</script>